.InputPhoto{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    aspect-ratio: 1;
    text-align: center;
}

.InputPhoto .icon {
    font-size: 3.5rem;
    transition: .2s ease-in;
    color: black;
    cursor: pointer;
    margin: 4px;
}

.InputPhoto input[type="file"]{
    display: none;
}

.InputPhoto .icon:hover {
    color: var(--primary-color);
}
