.InputPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;
    text-align: center;
}

.InputPhoto .icon {
    font-size: 3.5rem;
    transition: .2s ease-in;
    cursor: pointer;
    color: black;
    
}

.InputPhoto input{
    display: none;
}