.Photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: .25s ease-in;
}

.Photo:hover{
    outline: 1px solid var(--light-color);
}

.Photo img{
    width: 100%;
}
